[user]
	email = lpj8866@gmail.com
	name = lpj

[init]
	defaultBranch = main

[alias]
	l = log
	s = status
	d = diff
	a = add
	c = commit
	p = push

[core]
	pager = diff-so-fancy | less --tabs=4 -RF

[interactive]
	diffFilter = diff-so-fancy --patch

