[mgr]
linemode = "permissions"

[opener]
play = [
	{ run = 'vlc "$@"', orphan = true, for = "unix" },
]
open = [
	{ run = 'gwenview "$@"', orphan = true, for = "unix" },
]

[open]
append_rules = [
	{ mime = "video/*", use = "play" },
	{ mime = "image/*", use = "open" },
]

